/* 
    Created on : Feb 25, 2016, 12:09:36 PM
    Author     : chrishall
*/

/********************************************
 * Quotation styles
*********************************************/

.reveal section blockquote {
  width: 95% !important;
  padding: 20px;
}

.reveal blockquote p {
  font-size: 160%;
  font-weight: bold;
}

.reveal blockquote p:before {
  content: '\201C';
}

.reveal blockquote p:after {
  content: '\201D';
}

